nav{
    background-color: rgb(220,238,174);
    background: radial-gradient(circle,rgba(220,238,174,1) 0%,rgba(233,227,148,1)100%);
    color: black;
    font-weight: bold;    
    border-bottom: 2px solid white;    
                                
}
button{
    font-weight: bold;
    font-size: 20px;
}

